# Local Docker PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=cyclesmart
POSTGRES_USER=cyclesmart
POSTGRES_PASSWORD=cyclesmart_local_password
POSTGRES_SSL=false

# Coolify PostgreSQL:
# POSTGRES_HOST=<internal-postgres-host>
# POSTGRES_PORT=5432
# POSTGRES_DATABASE=postgres
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=<coolify-password>
# POSTGRES_SSL=false

SESSION_SECRET=generate-a-random-secret-with-openssl-rand-base64-32
